:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
}
html,
body,
#root {
    height: 100%;
    margin: 0px;
}
* {
    box-sizing: border-box;
}
input {
    background-color: transparent;
    outline: none;
    border: 1px solid transparent;
    padding: 4px 14px 0 14px;
    font-size: 18px;
    display: flex;
    align-items: flex-end;
}
button {
    outline: none;
    border: 1px solid transparent;
    background-color: transparent;
    display: flex;
    align-items: center;
}
